#p-1{
 font-family: -apple-system;
 font-size: 25px;
}

body{
 background: gray;
 color: white;
}


#main{
 display: flex;
 color: white;
 font-family: -apple-system;

}

#func{
 color: #ffbe00
}

#inp{
 border-radius: 10px;
 background: #C7C7C7;
 width: 134px;
 height: 20px;
 border: red;
}

#inp1{
 position: absolute;
 border-radius: 15px;
 background: #C7C7C7;
 top: 43%;
 left: 60%;
}